header {
  position: sticky;
  top: 0;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 64px;
  width: 100%;

  padding: 0 16px;

  background: #ee171f;

  div:nth-child(2) {
    text-align: center;
  }

  div:last-child {
    text-align: end;
  }

  > div {
    width: 300px;
  }

  img {
    height: 50px;
    width: 150px;
  }

  button {
    padding: 8px;

    font-size: 16px;
    font-weight: bold;
    color: white;

    border: white 2px solid;
    border-radius: 4px;

    background: #ee171f;
  }

  button:hover {
    background: #ff0000;
    cursor: pointer;
  }

  button:active {
    background: #ff6868;
  }

  .header--btn:not(:first-child) {
    margin-left: 16px;
  }
}

.header--menu {
  display: flex;
}

@media (max-width: 450px) {
  header {
    justify-content: center;

    .header--btn:not(:first-child) {
      margin-left: initial;
    }

    div {
      width: auto;
    }
  }
}
